@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
h2 {
  font-size: 50px;
  padding-top: 20px;
  opacity: 64%;
  line-height: 20px;
  width: 92.5%;
  margin-left: 50px;
}
h3 {
  font-size: 50px;
  opacity: 64%;
  line-height: 10px;
  width: 92.5%;
  margin-left: 50px;
}

h4{
  font-size: 25px;
margin: 20px;
opacity: 64%;
line-height: 50px;
/* text-decoration: underline; */
}

 p {
  font-size: 90px;
margin: 20px;
opacity: 64%;
line-height: 50px;
}
a {
}
/* Add a black background color to the top navigation */
.topnav {
  margin-top: 10px;
  position: relative;
  background-color: white;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9AC791;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav img {
  width: 80px;
  height: 60px
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.header1 {
  margin: 20px 50px 40px 50px;
  height: 200px;
  background-color: #9DC183;
  padding-top: 20px;
  opacity: 64%;
  line-height: 20px;
}

.header1 h1 {
  font-size: 75px;
}
.header1 p{
  font-size: 25px;
  text-align: center;

}

.header2 {
  width: 20%;
  height: 50%;
  background-color: #D3D3D3;
  margin-left: 70px;
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 80px;

}
.header2 a{
  font-size: 150%;
  text-align: center;
  text-decoration: none;
  color: black;
}


.header3 {
  margin-left: 175px;
  width: 20%;
  height: 50%;
  background-color: #D3D3D3;
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 80px;

}
.header3 a{
  font-size: 150%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.header4 {
  float: right;
  width: 20%;
  height: 50%;
  background-color: #D3D3D3;
  margin-right: 70px;
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 80px;

}
.header4 a{
  font-size: 130%;
  text-align: center;
}

.image1 {
    width: 80%;
    margin: 10px 10px 10px 22px;
  display: block;
  }

  .image2 {
    width: 80%;
    margin: 10px 10px 10px 22px;
  display: block;
  }

  .image3 {
    width: 80%;
    margin: 10px 10px 10px 22px;
  display: block;
  }

/* section 3 */
.mission {
  /* margin: 40px 0px 40px; */
  width: 100%;
  height: 500px;
  background-color: #D3D3D3;
  text-align: center;
}

/* services */
.box1{
  background: #D3D3D3;
  color: #333;
  margin-left: 45px;
  width: 20%;
  height: 300px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
}
.box2{
  background: #D3D3D3;
  margin-left: 45px;
  width: 20%;
  height: 300px;
  font-size: 25px;
  display: inline-block;
  text-align: center;
}
.box3{
  background: #D3D3D3;
  color: #333;
  margin-left: 45px;
  width: 20%;
  height: 300px;
  display: inline-block;
  font-size: 25px;
  text-align: center;

}
.box4{
  background: #D3D3D3;
  color: #333;
  margin-left: 45px;
  width: 20%;
  height: 300px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
}

.box1 p{
  font-size: 25px;
}
.box2 p{
  font-size: 25px;
}
.box3 p{
  font-size: 25px;
}
.box4 p{
  font-size: 25px;
}

#section4 {
  margin-top: 40px;
  width: 100%;
  height: 450px;
  background: #D3D3D3;
  margin-bottom: 2px;

}

#section4 p{
  font-size: 30px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */

  h4{
    font-size: 20px;
  }
  .header3 {
    margin-left: 70px;
    padding-bottom: 70px;
  }
  .right {
    width: 100%;
  }

  .services h2{
    margin: 0;
  }

  .box1{
    margin-left: 50px;
    height: 200px;
    width: 40%;
  }
  .box2{
    width: 40%;
    height: 200px;
  }
  .box3{
      margin-left: 50px;
      margin-top: 20px;
      height: 200px;
      width: 40%;
  }
  .box4{
      margin-top: 20px;
      height: 200px;
      width: 40%;
  }
}
footer{
  width: 100%;
  height: 200px;
  background-color: #eee;
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
